
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    display: grid;
    grid-template-areas: 
    "Titulo Titulo"
    "Agregar Agregar"
    "Resumen Lista" ;
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
    padding: 10px;
}

h1{
    grid-area: Titulo;
}

.resumen {
    grid-area: Resumen;
    align-self: center;
}

.tareas {
    grid-area: Lista;
    text-align: end;
}

.agregar{
    grid-area: Agregar;
}

ul {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    display: flex;
    align-items: center;
}

#taskList li input[type="checkbox"] {
    flex: 0 0 auto; 
    margin-right: 1px; 
}

#taskList li > span {
    flex: 1; 
}

#taskList li button {
    margin-left: 1px; 
}

.completed span {
    text-decoration: line-through;
    opacity: 0.5;
}

input[type="text"] {
    width: calc(80% - 120px);
    padding: 10px;
    border: 1px gray solid;
    border-radius: 5px;
}

.agregar button {
    padding: 5px 10px;
    margin: 5px 5px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

li button{
    padding: 5px 10px;
    margin: 5px 5px;
    border: none;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
}

.agregar button:hover {
    background-color: white;
    color: green;
}
